Repository Lit-innosence/tus_yuurikai_system, pull requests merged in 2025-02, with the labels that each got.

#62 Release
  .github/workflows/auto-release.yml
  .github/workflows/pr-label-check.yml
Labels: major

#63 fix: release github actions
  .github/workflows/auto-release.yml
Labels: major

#67 Cookieのルール変更
  .env.sample
  frontend/src/routes/component/AuthContext.tsx
  src/adapters/controller/locker.rs
Labels: ⚠️ security, 🔍 frontend, 🖥️ backend, 📦 enhancement

#65 パスワード保持方法の変更
  .env.sample
  Cargo.lock
  Cargo.toml
  src/adapters/controller/locker.rs
  src/adapters/repository/admin.rs
  src/utils.rs
  src/utils/verify_password.rs
  tests/lockerreset.rs
  tests/login.rs
  tests/usersearch.rs
  tests/utils/mod.rs
  tests/utils/password_hash.rs
Labels: 🛠️ refactor, ⚠️ security, 🖥️ backend, 📦 enhancement

#69 テストの冪等性確保
  tests/availability.rs
  tests/healthcheck.rs
  tests/lockerregister.rs
  tests/lockerreset.rs
  tests/login.rs
  tests/usersearch.rs
Labels: 🧪 test, 📦 enhancement

#68 ロッカーヒット件数0件のときのUIの修正
  frontend/src/routes/admin/LockerSearch.tsx
  src/adapters/controller/locker.rs
Labels: 🐞 bug, 🔍 frontend

#71 メールセキュリティ強化
  .env.sample
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/routes/constants.ts
  frontend/src/routes/locker/ConfirmPage.tsx
  frontend/src/routes/locker/RegisterConfirm.tsx
  src/adapters/controller/locker.rs
  src/adapters/httpmodels.rs
  src/usecase/auth.rs
  src/utils.rs
  src/utils/verify_recaptcha.rs
Labels: ⚠️ security, 🔍 frontend, 🖥️ backend, 📦 enhancement

#72 文字列処理の修正
  Cargo.lock
  Cargo.toml
  frontend/src/routes/circle/Update.tsx
  frontend/src/routes/locker/Form.tsx
  frontend/tsconfig.json
  src/adapters/controller/circle.rs
  src/adapters/controller/locker.rs
  src/adapters/httpmodels.rs
  src/utils.rs
  src/utils/decode_jwt.rs
  src/utils/jwt.rs
  src/utils/oauth_authentication.rs
  src/utils/token.rs
  src/utils/verify_password.rs
  tests/lockerreset.rs
  tests/usersearch.rs
  tests/utils/setup.rs
Labels: 🛠️ refactor, ⚠️ security, 🔍 frontend, 🖥️ backend, 📊 database, 📦 enhancement

#73 ブラウザのconsole削除とURLパラメータのバリデーション
  frontend/src/routes/Login.tsx
  frontend/src/routes/admin/CircleAccessLimit.tsx
  frontend/src/routes/admin/LockerSearch.tsx
  frontend/src/routes/circle/RegisterAuth.tsx
  frontend/src/routes/circle/Status.tsx
  frontend/src/routes/circle/UpdateAuth.tsx
  frontend/src/routes/component/AuthContext.tsx
  frontend/src/routes/locker/MailAuth.tsx
  frontend/src/routes/locker/Register.tsx
  frontend/src/routes/locker/RegisterConfirm.tsx
Labels: ⚠️ security, 🔍 frontend, 📦 enhancement

#74 リリース v1.1.0
  .env.sample
  .gitignore
  Cargo.lock
  Cargo.toml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/routes/Login.tsx
  frontend/src/routes/admin/Admin.tsx
  frontend/src/routes/admin/CircleAccessLimit.tsx
  frontend/src/routes/admin/CircleList.tsx
  frontend/src/routes/admin/CircleSelect.tsx
  frontend/src/routes/admin/LockerReset.tsx
  frontend/src/routes/admin/LockerSearch.tsx
  frontend/src/routes/admin/LockerSelect.tsx
  frontend/src/routes/circle/RegisterAuth.tsx
  frontend/src/routes/circle/Status.tsx
  frontend/src/routes/circle/Update.tsx
  frontend/src/routes/circle/UpdateAuth.tsx
  frontend/src/routes/component/AuthContext.tsx
  frontend/src/routes/component/CustomAdminHeader.tsx
  frontend/src/routes/component/PageSelectLayout.tsx
  frontend/src/routes/constants.ts
  frontend/src/routes/locker/ConfirmPage.tsx
  frontend/src/routes/locker/Form.tsx
  frontend/src/routes/locker/MailAuth.tsx
  frontend/src/routes/locker/Register.tsx
  frontend/src/routes/locker/RegisterConfirm.tsx
  frontend/tsconfig.json
  lockerdata.csv
  src/adapters/controller.rs
  src/adapters/controller/circle.rs
  src/adapters/controller/locker.rs
  src/adapters/httpmodels.rs
  src/adapters/repository/admin.rs
  src/main.rs
  src/usecase/auth.rs
  src/utils.rs
  src/utils/decode_jwt.rs
  src/utils/jwt.rs
  src/utils/oauth_authentication.rs
  src/utils/token.rs
  src/utils/verify_password.rs
  src/utils/verify_recaptcha.rs
  tests/availability.rs
  tests/healthcheck.rs
  tests/lockerregister.rs
  tests/lockerreset.rs
  tests/login.rs
  tests/usersearch.rs
  tests/utils/mod.rs
  tests/utils/password_hash.rs
  tests/utils/setup.rs
Labels: minor
